<!doctype html>
<!-- Copyright Eric Bidelman <ebidel@gmail.com> -->
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>i18n-msg element Demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="../i18n-msg.html">
</head>
<body>

<p>"Days" in selected language is: <b><i18n-msg id="daysMsgEl" msgid="days">PLACEHOLDER_STRING</i18n-msg></b>!</p>
<p>"Hours" in selected language is: <b><i18n-msg msgid="hours">PLACEHOLDER_STRING</i18n-msg></b>!</p>
<p>"Minutes" in selected language is: <b><i18n-msg msgid="minutes">PLACEHOLDER_STRING</i18n-msg></b>!</p>

<p>Example fallback text when a message id isn't found: <i18n-msg msgid="UNKNOWN_MSG_ID">PLACEHOLDER_STRING</i18n-msg></b></p>

<select id="selector">
  <option selected>en</option>
  <option>es</option>
  <option>fr</option>
  <option>pt-br</option>
</select>

<p>Example of updating an attribute: <input id="input" placeholder="Days"></p>

<p>Example of dynamically created element: <span id="dynamic"></span></p>

<script>
  var selector = document.querySelector('#selector');
  var input = document.querySelector('#input');

  // Event is only needed when running under the HTMLImports polyfill.
  document.addEventListener('HTMLImportsLoaded', function() {
    I18nMsg.lang = selector.value || document.documentElement.lang || 'en';
    Platform.performMicrotaskCheckpoint();
  });

  selector.addEventListener('change', function() {
    document.documentElement.lang = this.value;
    I18nMsg.lang = this.value;
    Platform.performMicrotaskCheckpoint();
  });

  document.addEventListener('i18n-language-ready', function(e) {
    var daysMsgEl = document.querySelector('#daysMsgEl');
    input.placeholder = daysMsgEl.getMsg(daysMsgEl.msgid);

    var el = document.createElement('i18n-msg');
    el.msgid = 'minutes';
    document.querySelector('#dynamic').appendChild(el);
  });
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-43475701-1', 'ebidel.github.io');
 ga('send', 'pageview');
</script>
</body>
</html>
